<%- include('parts/head',{title:'iTavern | Busca de Grupos'}); %>
<link rel="stylesheet" href="/css/grupos-busca.css" />
<%- include('./criarSala',{jogos}); %>
<%- include('parts/navbar', {current_page:'buscar-grupos'}); %>
<%- include('./info'); %>

<!-- searchbar -->
<main>
  <section class="container searchbar">
    <form id="form-busca" action="/grupos/search" method="GET" class="row pt-3">
      <span class="nav-btn" id="nav-btn">
        <i class="fas fa-bars"></i>
      </span>
      <div class="col-12 col-md-6 pl-5">
        <div class="input-group mb-3">
          <input type="text" name="searchText" class="form-control search-box"
            placeholder="Pesquise por jogo ou nome do grupo" aria-label="Recipient's username"
            aria-describedby="button-addon2" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary form-control" type="submit" id="button-addon2">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="input-group mb-3">
          <select  name="groupGame" class="custom-select form-control" id="inputGroupSelect01" placeholder="Jogo">
            <option value="" selected disabled>Jogo</option>
            <% for(jogo of jogos) {%>
            <option value="<%= jogo.id %>"><%= jogo.nome %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="input-group mb-3">
          <select name="groupSize" class="custom-select form-control" id="inputGroupSelect02"
            placeholder="Tamanho do grupo">
            <option value="" selected disabled>Tamanho do grupo</option>
            <option value="1">Pequeno (3-5)</option>
            <option value="2">Médio (5-7)</option>
            <option value="3">Grande (>7)</option>
          </select>
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="input-group mb-3">
          <select class="custom-select form-control" name="distance" placeholder="Distância" id="inputGroupSelect03">
            <option value="<%= distance %>" disabled selected>Distância</option>
            <option value="1">Até 5km</option>
            <option value="2">5km a 15km</option>
            <option value="3">mais de 15km</option>
          </select>
        </div>
      </div>
    </form>
  </section>
  <!-- end of searchbar -->
  <section class="container grupos">
    <div class="row">
      <div id="semGrupoBusca" class="invi">
        <h2>Desculpe não achamos nenhum grupo correspondente!</h2>
      </div>
      <!-- Inicio de um card de grupo -->
      <% let x = 0; %>
      <p class="invi" id="numDeGrupos"><%= grupos.length %></p>
      <% for(let grupo of grupos){ %>
      <article class="col-12 col-sm-6 col-lg-4 col-xl-3 py-3 aCard invi" id="<%= grupo.id %>">
        <div class="card" id="<%= grupo.id %>">
          <div class="cover-container">
            <img src="/images/covers/<%= grupo.img %>" class="card-img-top" alt="..." />
            <i class="<%= grupo.icon %> fa-fw group-icon"></i>
          </div>
          <div class="card-body text-center">
            <h4 class="group-title"><%= grupo.nome %></h4>
            <h5 class="group-game"><%= grupo.jogoDoGrupo.nome %></h5>
            <ul class="group-perks">
              <li>
                Membros:
                <span class="text-warning"><%= participantes[x] %>/<%= grupo.numJogadores %></span>
              </li>
              <li>Início das reuniões: <%= grupo.inicioReuniao %></li>
              <li style="height: 50px;">Reuniões: <%= grupo.diasReuniao %></li>
            </ul>
            <a href="#" class="btn btn-grupo info" data-toggle="modal" data-target="#exampleModalCenter">Info</a>
            <a href="#" class="btn btn-grupo entrar" data-target="#entraGrupo" data-toggle="modal">Entrar</a>
          </div>
        </div>
      </article>
        <% x++; %>
      <% } %>
      <!-- Fim de um card de grupo -->
    </div>

    <div class="modal fade" id="entraGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered caixa">
        <div class="modal-content" id="colorConfirma">
          <div class="modal-header">
            <div class="titulo">
              <h5>Deseja entrar nesse grupo?</h5>
            </div>
            <div class="botao">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer" id="ftBusca">
            <button type="button" class="btn" id="cancela" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn" id="confirmaEntrada" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  </section>
  <script src="/javascripts/grupos-busca.js"></script>
  <script src="/javascripts/home.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDReDjoWILi3KVAoNzzO63BhxXyzcEcLs0&libraries=geometry">
  </script>
  <script src="/javascripts/distanceMatrix.js"></script>
</main>
<%- include('parts/foot'); %>